<% if flash.any? %>
  <% flash.each do |key, value| -%>
    <div class="flash <%= key %>-flash" data-role="flash">
      <span class="flash-content"><%= value %></span>
    </div>
  <% end -%>
<% end %>
